In [39]:
import pandas as pd # data analysis
import numpy as np # for numerical functions
import plotly.express as px #for interactive plots

-load data
-look at the data
-if require, clean data
-if require, transform data
-if require, reduce data
-if require, create new features

In [40]:
df = pd.read_excel('sampl_data.xlsx')
df

   ID  F_name  L_name  basic_salary  D.A.  T.a  H.R.A department  fine
0   1     ram  sharma         30000   0.5  0.1    0.8      sales   600
1   2   vijay   verma         10000   0.3  0.1    0.8   purchase   800
2   3   imran     ali        500000   0.4  0.1    0.8        rnd   500
3   4    ajay  pandey         15000   0.4  0.1    0.8      sales   300
4   5   vijay  kapoor         62000   0.5  0.5    0.8   purchase   600
5   6   rohan   singh         75000   0.3  0.1    0.6        rnd   400
6   7  vidhya   singh        200003   0.4  0.1    1.0      sales     0
7   8   suraj  kapoor         36000   0.4  0.1    0.6   purchase     0
8   9   arjun   singh         45000   0.3  0.1    0.8        rnd   235
9  10    arun   vinay         96000   0.4  0.1    0.8   purchase   150

In [41]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [42]:
df['F_name']

0       ram
1     vijay
2     imran
3      ajay
4     vijay
5     rohan
6    vidhya
7     suraj
8     arjun
9      arun
Name: F_name, dtype: object

In [43]:
df[['F_name','L_name']]

   F_name  L_name
0     ram  sharma
1   vijay   verma
2   imran     ali
3    ajay  pandey
4   vijay  kapoor
5   rohan   singh
6  vidhya   singh
7   suraj  kapoor
8   arjun   singh
9    arun   vinay

In [44]:
df.iloc[0] #INDEX loation row wise

ID                   1
F_name             ram
L_name          sharma
basic_salary     30000
D.A.               0.5
T.a                0.1
H.R.A              0.8
department       sales
fine               600
Name: 0, dtype: object

In [45]:
df.iloc[-1]

ID                    10
F_name              arun
L_name             vinay
basic_salary       96000
D.A.                 0.4
T.a                  0.1
H.R.A                0.8
department      purchase
fine                 150
Name: 9, dtype: object

In [46]:
df.iloc[3].tolist()

[4, 'ajay', 'pandey', 15000, 0.4, 0.1, 0.8, 'sales', 300]

In [47]:
df.iloc[:4] #first 4 records

   ID F_name  L_name  basic_salary  D.A.  T.a  H.R.A department  fine
0   1    ram  sharma         30000   0.5  0.1    0.8      sales   600
1   2  vijay   verma         10000   0.3  0.1    0.8   purchase   800
2   3  imran     ali        500000   0.4  0.1    0.8        rnd   500
3   4   ajay  pandey         15000   0.4  0.1    0.8      sales   300

In [48]:
df.iloc[-4:] #last 4 records

   ID  F_name  L_name  basic_salary  D.A.  T.a  H.R.A department  fine
6   7  vidhya   singh        200003   0.4  0.1    1.0      sales     0
7   8   suraj  kapoor         36000   0.4  0.1    0.6   purchase     0
8   9   arjun   singh         45000   0.3  0.1    0.8        rnd   235
9  10    arun   vinay         96000   0.4  0.1    0.8   purchase   150

In [49]:
df.iloc[-4:, :3] #last 4 records , first 3 records

   ID  F_name  L_name
6   7  vidhya   singh
7   8   suraj  kapoor
8   9   arjun   singh
9  10    arun   vinay

In [50]:
df

   ID  F_name  L_name  basic_salary  D.A.  T.a  H.R.A department  fine
0   1     ram  sharma         30000   0.5  0.1    0.8      sales   600
1   2   vijay   verma         10000   0.3  0.1    0.8   purchase   800
2   3   imran     ali        500000   0.4  0.1    0.8        rnd   500
3   4    ajay  pandey         15000   0.4  0.1    0.8      sales   300
4   5   vijay  kapoor         62000   0.5  0.5    0.8   purchase   600
5   6   rohan   singh         75000   0.3  0.1    0.6        rnd   400
6   7  vidhya   singh        200003   0.4  0.1    1.0      sales     0
7   8   suraj  kapoor         36000   0.4  0.1    0.6   purchase     0
8   9   arjun   singh         45000   0.3  0.1    0.8        rnd   235
9  10    arun   vinay         96000   0.4  0.1    0.8   purchase   150

In [51]:
# top 5
df.head()

   ID F_name  L_name  basic_salary  D.A.  T.a  H.R.A department  fine
0   1    ram  sharma         30000   0.5  0.1    0.8      sales   600
1   2  vijay   verma         10000   0.3  0.1    0.8   purchase   800
2   3  imran     ali        500000   0.4  0.1    0.8        rnd   500
3   4   ajay  pandey         15000   0.4  0.1    0.8      sales   300
4   5  vijay  kapoor         62000   0.5  0.5    0.8   purchase   600

In [52]:
# last 5
df.tail()

   ID  F_name  L_name  basic_salary  D.A.  T.a  H.R.A department  fine
5   6   rohan   singh         75000   0.3  0.1    0.6        rnd   400
6   7  vidhya   singh        200003   0.4  0.1    1.0      sales     0
7   8   suraj  kapoor         36000   0.4  0.1    0.6   purchase     0
8   9   arjun   singh         45000   0.3  0.1    0.8        rnd   235
9  10    arun   vinay         96000   0.4  0.1    0.8   purchase   150

In [53]:
#missing data
df.isnull().sum() #count missing values

ID              0
F_name          0
L_name          0
basic_salary    0
D.A.            0
T.a             0
H.R.A           0
department      0
fine            0
dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            10 non-null     int64
 1   F_name        10 non-null     object
 2   L_name        10 non-null     object
 3   basic_salary  10 non-null     int64
 4   D.A.          10 non-null     float64
 5   T.a           10 non-null     float64
 6   H.R.A         10 non-null     float64
 7   department    10 non-null     object
 8   fine          10 non-null     int64
dtypes: float64(3), int64(3), object(3)
memory usage: 852.0+ bytes

In [55]:
df.describe() #summery of data

             ID   basic_salary       D.A.        T.a      H.R.A        fine
count  10.00000      10.000000  10.000000  10.000000  10.000000   10.000000
mean    5.50000  106900.300000   0.390000   0.140000   0.780000  358.500000
std     3.02765  148681.411305   0.073786   0.126491   0.113529  269.258756
min     1.00000   10000.000000   0.300000   0.100000   0.600000    0.000000
25%     3.25000   31500.000000   0.325000   0.100000   0.800000  171.250000
50%     5.50000   53500.000000   0.400000   0.100000   0.800000  350.000000
75%     7.75000   90750.000000   0.400000   0.100000   0.800000  575.000000
max    10.00000  500000.000000   0.500000   0.500000   1.000000  800.000000

In [56]:
df['D.A.'] * df['basic_salary']

0     15000.0
1      3000.0
2    200000.0
3      6000.0
4     31000.0
5     22500.0
6     80001.2
7     14400.0
8     13500.0
9     38400.0
dtype: float64

In [57]:
df['D.A.'] * df['basic_salary']\
+ df['H.R.A'] * df['basic_salary']\
+ df['T.a'] * df['basic_salary']\
+df['basic_salary']

0      72000.0
1      22000.0
2    1150000.0
3      34500.0
4     173600.0
5     150000.0
6     500007.5
7      75600.0
8      99000.0
9     220800.0
dtype: float64

In [58]:
df['total salary'] = df['D.A.'] * df['basic_salary']\
+ df['H.R.A'] * df['basic_salary']\
+ df['T.a'] * df['basic_salary']\
+df['basic_salary']

df.head(3)

,ID,F_name,L_name,basic_salary,D.A.,T.a,H.R.A,department,fine,total salary
0,1,ram,sharma,30000,0.5,0.1,0.8,sales,600,72000.0
1,2,vijay,verma,10000,0.3,0.1,0.8,purchase,800,22000.0
2,3,imran,ali,500000,0.4,0.1,0.8,rnd,500,1150000.0

In [59]:
df.columns

Index(['ID', 'F_name', 'L_name', 'basic_salary', 'D.A.', 'T.a', 'H.R.A',
       'department', 'fine', 'total salary'],
      dtype='object')

In [60]:
df

,ID,F_name,L_name,basic_salary,D.A.,T.a,H.R.A,department,fine,total salary
0,1,ram,sharma,30000,0.5,0.1,0.8,sales,600,72000.0
1,2,vijay,verma,10000,0.3,0.1,0.8,purchase,800,22000.0
2,3,imran,ali,500000,0.4,0.1,0.8,rnd,500,1150000.0
3,4,ajay,pandey,15000,0.4,0.1,0.8,sales,300,34500.0
4,5,vijay,kapoor,62000,0.5,0.5,0.8,purchase,600,173600.0
5,6,rohan,singh,75000,0.3,0.1,0.6,rnd,400,150000.0
6,7,vidhya,singh,200003,0.4,0.1,1.0,sales,0,500007.5
7,8,suraj,kapoor,36000,0.4,0.1,0.6,purchase,0,75600.0
8,9,arjun,singh,45000,0.3,0.1,0.8,rnd,235,99000.0
9,10,arun,vinay,96000,0.4,0.1,0.8,purchase,150,220800.0

In [61]:
df['D.A.']

0    0.5
1    0.3
2    0.4
3    0.4
4    0.5
5    0.3
6    0.4
7    0.4
8    0.3
9    0.4
Name: D.A., dtype: float64

In [62]:
df['total salary'] = df['D.A.'] * df['basic_salary']\
+ df['H.R.A'] * df['basic_salary']\
+ df['T.a'] * df['basic_salary']\
+df['basic_salary']-df['fine']

df.head(3)

,ID,F_name,L_name,basic_salary,D.A.,T.a,H.R.A,department,fine,total salary
0,1,ram,sharma,30000,0.5,0.1,0.8,sales,600,71400.0
1,2,vijay,verma,10000,0.3,0.1,0.8,purchase,800,21200.0
2,3,imran,ali,500000,0.4,0.1,0.8,rnd,500,1149500.0

In [63]:
df.columns.tolist()

['ID',
 'F_name',
 'L_name',
 'basic_salary',
 'D.A.',
 'T.a',
 'H.R.A',
 'department',
 'fine',
 'total salary']

In [64]:
px.area(df, x='F_name', y = 'total salary')

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

Figure({
    'data': [{'fillpattern': {'shape': ''},
              'hovertemplate': 'F_name=%{x}<br>total salary=%{y}<extra></extra>',
              'legendgroup': '',
              'line': {'color': '#636efa'},
              'marker': {'symbol': 'circle'},
              'mode': 'lines',
              'name': '',
              'orientation': 'v',
              'showlegend': False,
              'stackgroup': '1',
              'type': 'scatter',
              'x': array(['ram', 'vijay', 'imran', 'ajay', 'vijay', 'rohan', 'vidhya', 'suraj',
                          'arjun', 'arun'], dtype=object),
              'xaxis': 'x',
              'y': array([  71400. ,   21200. , 1149500. ,   34200. ,  173000. ,  149600. ,
                           500007.5,   75600. ,   98765. ,  220650. ]),
              'yaxis': 'y'}],
    'layout': {'legend': {'tracegroupgap': 0},
               'margin': {'t': 60},
               'template': '...',
               'xaxis': {'anchor': 'y', 'domain': [0.0, 1.0], 'title': {'text': 'F_name'}},
               'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0], 'title': {'text': 'total salary'}}}
})